.modal {

    &-backdrop {
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .75);
        animation: fadeIn .25s forwards;

        &.closing {
            animation: fadeOut .25s forwards;
        }
    }

    &-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        min-width: 300px;
        animation: scaleIn .25s forwards;

        &.closing {
            animation: scaleOut .25s forwards;
        }
    }
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes scaleIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

@keyframes scaleOut {
  from { opacity: 1; transform: scale(1); }
  to   { opacity: 0; transform: scale(0.95); }
}