<h2>Réinitialiser le mot de passe</h2>
@if (loading()) {
<div>Validation du lien...</div>
} @else if (token && !feedback.status()) {
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <input type="password" formControlName="password" placeholder="Nouveau mot de passe" />
    <input type="password" formControlName="confirmPassword" placeholder="Nouveau mot de passe" />
    <button type="submit" [disabled]="loading()">
      {{ loading() ? 'Validation en cours...' : 'Valider le nouveau mot de passe' }}
    </button>
  </form>
}
<app-feedback-display [status]="feedback.status" [message]="feedback.message"></app-feedback-display>
@if (feedback.status() == 'success') {
  <button [routerLink]="['/login']">Se connecter</button>
}